@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&family=Roboto+Condensed&display=swap');

html {
	animation: fade 0.3s ease-in-out;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: 'Roboto', sans-serif;
} 

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 43vw;
	background: url(../assets/images/background_veil-of-maya.webp) center / cover no-repeat;
	filter: brightness(0.35);
	z-index: -10;
	background-attachment: fixed;
}




