@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&family=Roboto+Condensed&display=swap');

html {
	animation: fade 0.3s ease-in-out;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: 'Roboto', sans-serif;
	background: var(--secondary-light);
} 




