:root {

	/* Desktop variables */

	--large-text-size: 2.5vw;

	--body-text-size: 1.5vw;

	--small-text-size: 1vw;

	/* Mobile variables */

	--mobile-large-text-size: 8vw;
	
	--mobile-body-text-size: 5vw;

	--mobile-small-text-size: 3vw;

	/* Fonts */

	/*--primary-font-family: neue-haas-grotesk-text, sans-serif;*/

	/* Colors */
	
	--primary-dark: rgb(2, 108, 223);
	--secondary-dark: #6c7a84;
	--primary-light: #ffffff;
	--secondary-light: #f4f5ef;

	/* Gaps */

	--grid-gap: 0.6vw;
	--mobile-grid-gap: 2vw;
	
}

/*:root[data-theme="dark"] {
	--primary-dark: #fff;
	--primary-light: #000;
}*/