:root {

	/* Desktop variables */

	--large-text-size: 2.5rem;
	--medium-text-size: 1.6rem;
	--small-text-size: 1.2rem;
	--extra-small-text-size: 0.8rem;

	/* Mobile variables */

	--mobile-large-text-size: 8rem;
	
	--mobile-body-text-size: 5rem;

	--mobile-small-text-size: 3rem;

	/* Fonts */

	/*--primary-font-family: neue-haas-grotesk-text, sans-serif;*/

	/* Colors */
	
	--primary-dark: rgb(2, 108, 223);
	--secondary-dark: #73808b;
	--tertiary-dark: rgb(1, 48, 97);
	--primary-light: #ffffff;
	--secondary-light: #f4f5ef;

	/* Gaps */

	--grid-gap: 0.6rem;
	--mobile-grid-gap: 2rem;
	
}

:root[data-theme="light"] {
	--secondary-light: rgb(2, 108, 223);
}