.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	width: 100vw;
	background: var(--primary-dark);
	font-size: var(--small-text-size);
}

.footer a {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
}

.footer a img {
	height: 2vw;
	width: 2vw;
	margin: 1vw 0;
	display: flex;
}

@media only screen and (max-width: 992px) {

	.footer {
		gap: 3vw;
	}
	
	.footer a img {
		height: 3.5vw;
		width: 3.5vw;
		margin: 2vw 0;
		display: flex;
	}
}

@media only screen and (max-width: 600px) {

	.footer {
		gap: 5vw;
	}
	
	.footer a img {
		height: 5vw;
		width: 5vw;
		margin: 3vw 0;
		display: flex;
	}
}