.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	height: 4vw;
	width: 100vw;
	background: var(--primary-dark);
	font-size: var(--small-text-size);
	margin-top: 2vw;
}

.footer a {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
}