.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: var(--primary-dark);
	padding: 0.8vw 3vw;
	position: sticky;
	top: 0;
	z-index: 20;
	font-size: var(--medium-text-size);
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--tertiary-dark));
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo a {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
	width: 10rem;
}

.header__input {
	display: flex;
	position: relative;
}

.header__input-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
	height: 100%;
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--primary-dark);
	border-right: solid .09rem var(--tertiary-dark);
	border-top: solid .09rem var(--tertiary-dark);
	border-bottom: solid .09rem var(--tertiary-dark);
}

.header__input-button:hover,
.header__input-button:active {
	background: var(--tertiary-dark);
}

.header__input-button img {
	width: 1.5rem;
	height: 1.5rem;
}

.header__input-field {
	width: 100%;
	display: flex;
	justify-self: center;
	width: 25rem;
	border-radius: .4rem;
	border: solid .09rem var(--tertiary-dark);
	background: var(--primary-dark);
	opacity: .8;
}

.header__input-field::placeholder {
	color: var(--primary-light);
	font-size: var(--small-text-size);
}

.header__input-field[type=text] {
	color: var(--primary-light);
	font-size: var(--small-text-size);
	padding: .4vw;
}

.header__input-field[type=text]:focus {
	background: var(--primary-light);
	color: var(--tertiary-dark);
}

.header__input-field[type=text]:focus::placeholder {
	color: var(--secondary-dark);
}

.header__navigation {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 3vw;
	white-space: nowrap;
}

.header__navigation button {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.header__navigation button::after {
	content: "";
	height: 0.2vw;
	background: var(--primary-light);
	width: 0;
	transition: 0.3s;
	margin: auto;
	display: block;
}

.header__navigation button:hover {
	color: var(--primary-light);
}

.header__navigation button:hover::after {
	width: 100%;
	transition: 0.3s linear;
}

.header__navigation-mobile {
	display: none;
}

@media screen and (max-width: 480px) {

	.header {
		padding: 2vw;
	}

	.header__navigation {
		display: none;
	}

	.header__navigation-mobile {
		display: block;
	}

	.header__logo {

	}

	.header__logo a {
		font-size: var(--mobile-large-text-size);

	}

	.header__navigation-mobile {
		display: flex;
		align-self: center;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 7vw;
		width: 10vw;
	}

	.header__navigation-mobile div {
		height: 1vw;
		width: 10vw;
		background-color: var(--primary-light);
		position: absolute;
		right: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	
	.header__navigation-mobile div:nth-child(1) {
		top: 0;
	}
	
	.header__navigation-mobile div:nth-child(2), 
	.header__navigation-mobile div:nth-child(3) {
		top: 3vw;
	}
	
	.header__navigation-mobile div:nth-child(4) {
		top: 6vw;
	}
	
	.header__navigation-mobile.open div {
		background: var(--primary-light);
	}
	
	.header__navigation-mobile.open div:nth-child(1) {
		opacity: 0;
	}
	
	.header__navigation-mobile.open div:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.header__navigation-mobile.open div:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.header__navigation-mobile.open div:nth-child(4) {
		opacity: 0;
	}
}

