.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: var(--primary-dark);
	padding: 0.8vw 3vw;
	position: sticky;
	top: 0;
	z-index: 40;
	font-size: var(--medium-text-size);
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--tertiary-dark));
}

.header__logoandinput {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.8vw;
}

.header__logoandinput-logo a {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
	width: 10rem;
}

.header__logoandinput-logo a img {
	display: flex;
	align-self: center;
}

.header__logoandinput-input {
	display: flex;
	position: relative;
}

.header__logoandinput-input-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
	height: 100%;
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: solid .09rem var(--tertiary-dark);
	border-top: solid .09rem var(--tertiary-dark);
	border-bottom: solid .09rem var(--tertiary-dark);
	background: url(../../assets/icons/Search_white.svg) center / 1.5rem no-repeat;
	cursor: pointer;
	background-color: var(--primary-dark);
}

.header__logoandinput-input-field {
	height: 100%;
	display: flex;
	justify-self: center;
	width: 20rem;
	border-radius: .4rem;
	border: solid .09rem var(--tertiary-dark);
	background: var(--primary-dark);
}

.header__logoandinput-input-field::placeholder {
	color: var(--primary-light);
	font-size: var(--small-text-size);
}

.header__logoandinput-input-field {
	color: var(--primary-light);
	font-size: var(--small-text-size);
	padding: .4vw;
}

.header__logoandinput-input-field:focus {
	background: var(--secondary-light);
	color: var(--tertiary-dark);
}

.header__logoandinput-input-field:focus::placeholder {
	color: var(--secondary-dark);
}

.header__navigation {
	display: flex;
	align-content: center;
	flex-direction: row;
	gap: 2vw;
	white-space: nowrap;
}

.header__navigation-about-us,
.header__navigation-gallery,
.header__navigation-wishlist,
.header__navigation-contacts {
	color: var(--secondary-light);
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

.header__navigation-about-us::after,
.header__navigation-gallery::after,
.header__navigation-wishlist::after,
.header__navigation-contacts::after {
	content: "";
	height: 0.2rem;
	background: var(--primary-light);
	width: 0;
	transition: 0.3s;
	margin: auto;
	display: block;
}

.header__navigation-about-us:hover,
.header__navigation-gallery:hover,
.header__navigation-wishlist:hover,
.header__navigation-contacts:hover {
	color: var(--primary-light);
}

.header__navigation-about-us:hover::after,
.header__navigation-gallery:hover::after,
.header__navigation-wishlist:hover::after,
.header__navigation-contacts:hover::after {
	width: 100%;
	transition: 0.3s linear;
}

.header__navigation-contacts--active::after,
.header__navigation-wishlist--active::after {
	content: "";
	height: 0.2rem;
	background: var(--primary-light);
	width: 100%;
	transition: 0.3s;
	margin: auto;
	display: block;
}

.header__navigation-mobile {
	display: none;
}

@media only screen and (max-width: 992px) {

	.header {
		padding: 1.5vw 1.5vw;
	}

	.header__logoandinput {
		justify-content: space-between;
		width: 100%;
	}

	.header__navigation {
		display: none;
	}

	.header__logo a {
		font-size: var(--mobile-large-text-size);
	}

	.header__navigation-mobile {
		display: flex;
		position: relative;
		height: 75%;
		width: 2.5rem;
		cursor: pointer;
	}

	.header__navigation-mobile div {
		height: 0.2rem;
		width: 2.5rem;
		background-color: var(--primary-light);
		position: absolute;
		right: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
	}
	
	.header__navigation-mobile div:nth-child(1) {
		top: 0;
		transform: translateY(-50%);	
	}
	
	.header__navigation-mobile div:nth-child(2), 
	.header__navigation-mobile div:nth-child(3) {
		top: 50%;
		transform: translateY(-50%);
	}
	
	.header__navigation-mobile div:nth-child(4) {
		top: 100%;
		transform: translateY(-50%);
	}
	
	.header__navigation-mobile.open div {
		background: var(--primary-light);
	}
	
	.header__navigation-mobile.open div:nth-child(1) {
		opacity: 0;
	}
	
	.header__navigation-mobile.open div:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.header__navigation-mobile.open div:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.header__navigation-mobile.open div:nth-child(4) {
		opacity: 0;
	}
}

@media screen and (max-width: 600px) {

	.header {
		padding: 2.5vw 2.5vw;
	}
	
	.header__logoandinput {
		position: relative;
	}
	
	.header__logoandinput-input {
		position: absolute;
		height: 100%;
	}
}

