.main {
	max-width: 80vw;
	margin: 0 10vw;
}

.main__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 45vw;
	object-fit: cover;
	filter: brightness(0.5);
	z-index: -10;
	background-attachment: fixed;
}

.main__title {
	padding-bottom: 20vw;
}

.main__title h1 {
	width: 100%;
	padding: 20vw 30vw 1vw 0;
	color: var(--secondary-light);
	font-size: 2vw;
}

.main__title-underline,
.main__events-underline {
	height: 0.1rem;
	width: 100%;
	background-color: var(--secondary-light);
}

.main__input {
	display: flex;
	justify-content: center;
	margin: 5vw 0;
}

.main__input-button {
	width: 4rem;
	height: 3rem;
	margin-left: -4rem;
	z-index: 10;
	align-self: center;
	border-top-right-radius: .4rem;
	border-bottom-right-radius: .4rem;
}

.main__input-button:hover,
.main__input-button:active {
	background: var(--tertiary-dark);
}

.main__input-button img {
	width: 1.5rem;
	height: 1.5rem;
}

.main__input-field {
	width: 100%;
	display: flex;
	justify-self: center;
	height: 3rem;
	width: 25rem;
	border-radius: .4rem;
	border: solid .15rem var(--tertiary-dark);
	background: var(--primary-dark);
	opacity: .8;
}

.main__input-field::placeholder {
	color: var(--primary-light);
	font-size: var(--small-text-size);
	/*padding: .4vw;*/
}

.main__input-field[type=text] {
	color: var(--primary-light);
	font-size: var(--small-text-size);
	padding: .4vw;
}

.main__events-underline {
	background-color: var(--secondary-dark);
	opacity: 0.3;
	margin: 1vw 0;
}

/*.main__buttons_filter {
	padding-top: 10vw;
	display: flex;
	flex-direction: row;
	margin: 1vw 0;
	gap: 1vw;
}*/

/*.main__buttons_filter-all,
.main__buttons_filter-oslo,
.main__buttons_filter-bergen,
.main__buttons_filter-stavanger {
	font-size: var(--small-text-size);
	padding: 0.1rem;
	background: var(--secondary-light);
	border-radius: 0.15rem;
}*/

.main__buttons_filter--filtered {
	background: var(--primary-dark);
	color: var(--secondary-light);
}

.main__events {
	padding: 2vw 0;
	scroll-margin: 5rem;
}

.main__events-title {
	color: var(--primary-dark);
}

.main__events-events,
.main__events-oslo,
.main__events-bergen {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0.5rem;
	margin: 0.5vw 0;
}

.main__events-events div,
.main__events-oslo div,
.main__events-bergen div {
	min-width: 15vw;
	min-height: 13vw;
	font-size: 0.7rem;
	position: relative;
	overflow: hidden;
}

/*.main__events-events div:hover,
.main__events-oslo div:hover,
.main__events-bergen div:hover {
	transform: scale(1.02);
} */

.main__events-events div button,
.main__events-oslo div button,
.main__events-bergen div button {
	position: absolute;
	z-index: 20;
	top: 1rem;
	right: 1rem;
	height: 1.5rem;
	width: 1.5rem;
	background: url(../../assets/icons/heart_blue.svg) center / contain no-repeat;
}

.main__events-events div a,
.main__events-oslo div a,
.main__events-bergen div a {
	display: flex;
}

.main__events-events div a img,
.main__events-oslo div a img,
.main__events-bergen div a img {
	height: 200px;
	object-fit: cover;
	border-radius: 0.3rem;
	transition: 0.2s linear;
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--tertiary-dark));
}

.main__events-events div a img:hover,
.main__events-oslo div a img:hover,
.main__events-bergen div a img:hover {
	transform: scale(1.01);
}

.main__events-events div span h5,
.main__events-oslo div span h5,
.main__events-bergen div span h5 {
	color: var(--primary-dark);
	font-size: var(--small-text-size);
}

.main__events-events div span h6,
.main__events-oslo div span h6,
.main__events-bergen div span h6 {
	color: var(--secondary-dark);
	font-size: var(--extra-small-text-size);
}

.main__text-paragraph {
	opacity: 0;
	transform: translateY(5rem);
	transition: 0.5s all ease-in-out;
	font-size: var(--medium-text-size);
}

.main__text-animated {
	opacity: 1;
	transform: translateY(0px);
}

.main__button-scroll-up {
	position: fixed;
	right: 3vw;
	bottom: 3vw;
	width: 3.5vw;
	height: 3.5vw;
	animation: fade 0.6s ease-in-out;
	display: none;
	border-radius: 50%;
}

.main__button-scroll-up {
	background: var(--primary-light);
}

.main__button-scroll-up img {
	padding: 0.3vw;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main__button-scroll-up--visible {
	display: block;
}

@media screen and (max-width: 480px) {

}
