.main__mobile-navigation {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	width: 30%;
	height: 100vh;
	background: var(--primary-dark);
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--tertiary-dark));
	z-index: 30;
	overflow: scroll;
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
}

.main__mobile-navigation--visible {
	display: flex;
	flex-direction: column;
	transform: translateY(0);
}

.main__mobile-navigation-links {
	display: flex;
	flex-direction: column;
	margin: 5rem auto;
	align-self: center;
	width: 90%;
	font-size: var(--medium-text-size);
	color: var(--secondary-light);
	line-height: 2.5;
}

@media only screen and (max-width: 992px) {

	.main__mobile-navigation {
		width: 40%;
	}
}	

@media screen and (max-width: 600px) {

	.main__mobile-navigation {
		height: unset;
	}

	.main__mobile-navigation {
		width: 50%;
	}
	
	.main__mobile-navigation-links {
		margin: 4.5rem 0;
	}
}	

@media screen and (max-width: 480px) {

	.main__mobile-navigation {
		width: 100%;
	}

	.main__mobile-navigation-links {
		max-width: 80%;
	}
}	